@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif !important;
}

.changelog-scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.changelog-scrollable.hover,
.changelog-scrollable.hover > .row-inner {
    overflow-y: hidden;
}

.changelog-scrollable.hover > * {
    margin-top: -1px;
}

.changelog-scrollable.hover:hover,
.changelog-scrollable.hover:focus,
.changelog-scrollable.hover:active {
    overflow: visible;
    overflow-y: auto;
}

.changelog-scrollable.hover:hover > .row-inner,
.changelog-scrollable.hover:focus > .row-inner,
.changelog-scrollable.hover:active > .row-inner {
    overflow-y: auto;
}

.smart .changelog-scrollable,
.smart .changelog-scrollable > .row-inner {
    overflow-y: auto !important;
}

.changelog-scrollable::-webkit-scrollbar{
    width: 5px;
    background: transparent;
}

.changelog-scrollable::-webkit-scrollbar-thumb{
    background: #ffa000;
}

.changelog-scrollable.flipped {
    direction: rtl;
}

.changelog-scrollable.flipped .list-group {
    direction: ltr;
}

.changelog-callout {
    padding: 20px;
    border-radius: 10px;
}

.changelog-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.changelog-callout p:last-child {
    margin-bottom: 0;
}
.changelog-callout code {
    border-radius: 3px;
}
.changelog-callout + .bs-callout {
    margin-top: -5px;
}

.changelog-callout-default {
    border-left-color: #777;
}
.changelog-callout-default h4 {
    color: #777;
}

.changelog-callout-primary {
    border-left-color: #428bca;
}
.changelog-callout-primary h4 {
    color: #428bca;
}

.changelog-callout-success {
    border-left-color: #5cb85c;
}
.changelog-callout-success h4 {
    color: #5cb85c;
}

.changelog-callout-danger {
    border-left-color: #d9534f;
}
.changelog-callout-danger h4 {
    color: #d9534f;
}

.changelog-callout-warning {
    border-left-color: #f0ad4e;
}
.changelog-callout-warning h4 {
    color: #f0ad4e;
}

.changelog-callout-info {
    border-left-color: #5bc0de;
}
.changelog-callout-info h4 {
    color: #5bc0de;
}

.changelog-callout-bdc {
    border-left-color: #29527a;
}
.changelog-callout-bdc h4 {
    color: #29527a;
}

.text-center {
    text-align: center;
}

.changelogs-container.scrollable {
    max-height: 379px;
    height: auto !important;
}

.changelogs-container {
    height: 379px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.text-muted {
    color: #6c757d !important;
}

pre.ql-syntax {
    background: rgba(0,0,0,.05) !important;
    padding: 2px !important;
}

.ql-indent-1 {
    padding-left: 3rem;
}

.changelogs-container blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}

.changelogs-container img {
    max-width: 100%;
    height: auto;
}

.header-label {
    margin: 10px 0;
}

span.widget-badge {
    display: block;
    border-radius: 20px;
    background: #CD4B5B;
    height: 16px;
    width: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    cursor: pointer;
    position: absolute;
    opacity: 1;
    will-change: scale;
    transition: all 0.3s;
}

.changelog-callout:hover {
    background: hsl(240deg 20% 98%);
}

.changelog-widget-footer {
    padding: 10px 0;
    background: #f9f9fb;
}
/*PUBLIC PAGE CSS*/

.branding-text {
    display: inline-flex;
}

.branding-text .details-container {
    margin-left: 10px;
}


@media (min-width: 577px) {
    .branding-text {
        margin-left: 56px;
    }
}

@media (max-width: 576px) {
    .branding-text {
        font-size: 0.95rem;
    }
}

.changelog-title {
    font-size: 1rem;
    font-weight: 600;
}

.changelog-body {
    font-size: 0.85rem;
    color: #727a88;
}

.vue-swatches__trigger {
    border: 1px solid grey;
}

.badge {
    line-height: 1.5 !important;
    padding: 0 0.4em !important;
}

h2.hr-line-text {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #EBEEF5;
    line-height:0.1em;
    margin:10px 0;
}
h2.hr-line-text span {
    background:#fff;
    padding:0;
    font-size: 0.75rem;
    color: #a6adba;
}

.mt-6 {
    margin-top: 5rem;
}

label,
legend {
    color: #6c757d !important;
}
